@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.5 ease;
}

body {
    font-family: 'Playfair Display', serif;
    background: 'url(/img/image.png)';
} 
.bgh1{
    background: url(./img/banner.jpg) center center/cover;
    background-attachment: fixed;
}

.navbar{
    background: url(./img/image.png) center center/cover;
    filter:opacity(.9)
}

.name{
    font-family: 'Great Vibes', cursive;
}
.vt323{
    font-family: 'VT323', monospace;
}



